.product {
  width: 350px;
  text-align: left;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 25px;
  padding-bottom: 20px;
  cursor: pointer;
  background: rgb(227, 227, 227);
  box-shadow: 15px 15px 30px rgba(200, 200, 200, 0.6),
             -15px -15px 30px #ffffff;
}

.product:hover {
  box-shadow: 15px 15px 30px #bebebe
}

.p-img {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 350px;
  height: 260px;
}

.p-img img {
  overflow: hidden;
  width: auto;
  height: 260px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-title {
  margin-left: 15px;
  font-size: 25px;
}

.label {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 15px;
}

.product button {
  margin-top: 10px;
  background-color: white;
  color: rgb(0, 173, 177);
  border: 2px solid rgb(0, 173, 177);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
  cursor: pointer;
}

.product button:hover {
  background-color: rgb(0, 173, 177);
  color: white;
}

.product button:hover svg {
  fill: white;
}

.product button:hover span {
  color: white;
}

.product button svg {
  fill: rgb(0, 173, 177);
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.product button span {
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 173, 177);
}