body {
  box-sizing: 0;
}

.favourite button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 22px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #e8e8e8;
  border-color: #ffe2e2;
  border-style: solid;
  border-width: 9px;
  border-radius: 35px;
  font-size: 25px;
  font-weight: 900;
  color: rgb(134, 124, 124);
  font-family: monospace;
  transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
  border-color 400ms ease-in-out,
  background-color 400ms ease-in-out;
  word-spacing: -2px;
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

.favourite button:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

.favourite button svg {
  margin-right: 11px;
  fill: rgb(255, 110, 110);
  transition: opacity 100ms ease-in-out;
}

.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

.favourite button:hover .empty {
  opacity: 0;
}

.favourite button:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}

.main-content {
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
  width: 100%;
  height: 100vh;
  display: flex; /* add display and flex properties */
  justify-content: center;
  align-items: center;
}

.product-display {
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.display-right {
  width: 100%;
  display: block;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 10px;
}

.title {
  font-size: 23px;
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  height: 175px;
  justify-content: left;
  align-items: center;
  display: flex;
}

.entry {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  display: flex;
}

.entry-first {
  width: 120px;
  flex-shrink: 0;
  color: gray;
  display: inline-block;
}

.entry-second {
  overflow-wrap: break-word; /* Allow long words to break */
  word-wrap: break-word; /* Fallback for older browsers */
  word-break: break-word; /* Break words when needed */
}

.display-left img {
  width: 350px;
  height: auto;
  margin: 0 20px;
}

